:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
}

* {
    box-sizing: inherit; /*Kế thừa thuộc tính box-sizing từ thẻ cha*/
}

html {
    font-size: 62.5%; /*để 1rem = 10px*/
    line-height: 1.6rem; /* => 16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    margin: auto;
    z-index: 1;
}

.btn {
    height: 36px;
    min-width: 142px;
    font-size: 1.4rem;
    font-weight: 1000px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.2);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: none;
    background-color: #c3c3c3;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    font-weight: 1000;
}
